extends layout

block content

  // Sections

  - var about = sections.filter(function (section) { return section.sys.id === "2UYfZhGTLqO662Y4qmuIEc"; })[0].fields;
  - var projects = sections.filter(function (section) { return section.sys.id === "6lRZSPghigQuYUSOKMG4om"; })[0].fields;
  - var performanceProjects = sections.filter(function (section) { return section.sys.id === "rnulcmXUaGoiIGO8qA8Ck"; })[0].fields;
  - var steveReichProjects = sections.filter(function (section) { return section.sys.id === "3phH9nJ0PSGiOucyW2UEuG"; })[0].fields;
  - var educationalProjects = sections.filter(function (section) { return section.sys.id === "2cO3qOk0nuyIoOogC40K8c"; })[0].fields;
  - var support = sections.filter(function (section) { return section.sys.id === "1vlmywGrxmu6ye2qq2U2UK"; })[0].fields;
  
  // Events
  
  - var currentYear = (new Date()).getFullYear();
  - var startYear = 2007;
  - var eventsYearRange = []; while (startYear++ < (currentYear+1)) eventsYearRange.push(startYear);
  - var eventsYearRangeReverse = eventsYearRange.slice(0); eventsYearRangeReverse.reverse().shift();

  - var eventsInCurrentYear = events.filter(function (event) { return event.fields.date.slice(0,4) == currentYear })
  - var eventsInPreviousYear = events.filter(function (event) { return event.fields.date.slice(0,4) == (currentYear-1) })
  - var eventsInNextYear = events.filter(function (event) { return event.fields.date.slice(0,4) == (currentYear+1) })
  
  - var monthName = ['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May', 'June', 'July', 'Aug.', 'Sep.', 'Oct.', 'Nov.', 'Dec.']

  - function formatDate(fields) {
    - if (fields.multipleDates)
      - return fields.multipleDates
    - else
      - var [year, month, day] = fields.date.split('-')
      - return monthName[Number(month)-1] + ' ' + parseInt(day) + ', ' + year
  - }

  mixin renderEvents(eventsList)
    each event in eventsList
      .event.drawer.drawerClosed
        .eventHead
          span.eventDate #{formatDate(event.fields)}
          .eventHeadline
            if event.fields.name
              span.eventName #{event.fields.name}
            if event.fields.location
              span.eventLocation #{event.fields.location}
            if event.fields.ensemble
              .eventEnsemble #{event.fields.ensemble}
          .drawerToggle
        .eventDetails.drawerContents!= md(event.fields.description.replace(/(^|[^\n])\n(?!\n)/g, "$1<br />") || "")
          if event.fields.url
            p
              a(href='#{event.fields.url}') Learn more

  // People
  
  //- - var lauren = sections.filter(function (people) { return people.sys.id === "6NalVBScZUqQqOEUq8kwiE"; })[0].fields;
  //- - var brad = sections.filter(function (people) { return people.sys.id === "yal9ZFpvm8q2ic4sAkiAW"; })[0].fields;

  section#about
    h1.sectionName #{about.name}
    .flex
      div
        .quote
            .quoteText
              p “A new-music ensemble that by this point practically guarantees quality performances…”
                span.quoteSource The New York Times
        .drawer.drawerClosed
          p Ensemble Signal, described by the New York Times as “one of the most vital groups of its kind,” is a NY-based ensemble dedicated to offering the broadest possible audience access to a diverse range of contemporary works through performance, commissioning, recording, and education. Since its debut in 2008, the Ensemble has performed over 200 concerts, has given the NY, world, or US premieres of over 20 works, and co-produced ten recordings.
          div.drawerContents!= md(about.text.replace(/(^|[^\n])\n(?!\n)/g, "$1<br />"))
          a.aboutMore Read Full Bio
      .sidebar
        .socialButtons
          a(href='https://www.facebook.com/signal.ensemble')
            img(src='images/icon-facebook.png')
          a(href='https://twitter.com/ensemblesignal')
            img(src='images/icon-twitter.png')
          a(href='https://www.instagram.com/ensemblesignal')
            img(src='images/icon-instagram.png')
        span You can get news and event announcements by signing up for our 
          a(href='http://signalensemble.us2.list-manage.com/subscribe/post?u=605dc4a28d902f04c2691f349&amp;id=024f929d9d') email newsletter.
        span Want to get in touch? For all inquiries, contact 
          a(href='mailto:signaloffice@gmail.com') Co-Artistic/Executive Director Lauren Radnofsky.
  
  section#projects
    h2.sectionName #{projects.name}
    .quote
      .quoteText
        p “Those musicians (Ensemble Signal) can show and teach us that performing and listening to music — be it old or be it new — should become an existential adventure which might open our aesthetic and human horizon.”
          span.quoteSource Helmut Lachenmann
    div!= md(projects.text.replace(/(^|[^\n])\n(?!\n)/g, "$1<br />"))
    .project.drawer.drawerClosed
      .projectHead
        h3 Performance Projects
        .drawerToggle
      .projectDetails.drawerContents
        div!= md(performanceProjects.text.replace(/(^|[^\n])\n(?!\n)/g, "$1<br />"))
        h3
          a(href='#pastEvents') View complete past &amp; current Signal projects here.
    .project.drawer.drawerClosed#reich
      .projectHead
        h3 Steve Reich Projects
        .drawerToggle
      .projectDetails.drawerContents
        .quote
          .quoteText
            p “Ensemble Signal is proposing a comprehensive project of concerts, recordings, video, live streaming and education about my music. Brad Lubman and Ensemble Signal have given many of the best performances of my music I have ever heard; having performed and worked with Signal since their very start, I know they are absolutely qualified to make this project a world-class first-rate success.”
              span.quoteSource Steve Reich
        figure
          img#reichImage1(
            src='https://images.contentful.com/iyieuwr67lde/3txRxJ2wdq2WEywAqMMaWE/02cc7903599cce5eb08d18471a6c3a67/reich_02_750.jpg'
            srcset='https://images.contentful.com/iyieuwr67lde/5JIbSUOAco8Ca0qM8MaOMC/0eb84b662fc5ad87a4d86c24c4248a24/reich_01_375.jpg 375w, https://images.contentful.com/iyieuwr67lde/1NwISGItBaCMQquca8KcAc/9892b8f432339d9c49c18a809cbdc564/reich_01_1000.jpg 1000w, https://images.contentful.com/iyieuwr67lde/6QAG5VHm8wSyQ8yoUUCcGg/7d3ccbd400214d80f371dd8187008aef/reich_01_2000.jpg 2000w'
          )
          figcaption Stephanie Berger
        
        .flex
          div!= md(steveReichProjects.text.replace(/(^|[^\n])\n(?!\n)/g, "$1<br />"))
          .sidebar
            span “Music for 18…was the transcendent experience  you always hope for when hearing this piece live.”
              em — The New York Times
            span “Awarded Diapason d’Or, June 2015 (Signal/Reich M18M on harmonia mundi).”
              em — Diapason Magazine
            span “Even if more recordings are released next year to celebrate the 40th anniversary of this work…none will likely be more sensational than this (  Signal/Reich M18M on hm).”
              em — The New York Times
            span “…tremendous, unstoppable energy (Signal/Reich M18M on hm)…”
              em — The Guardian, 5 stars
            span “…Ensemble Signal play with  an accuracy and passion  which defies description.”
              em — The Arts Desk
            span “…so masterful that it all sounds effortlessly graceful.” (Signal/Reich  M18M hm).”
              em — The San Francisco Chronicle
            span “It was a tremendous performance (M18M) that yielded the loudest standing ovation of the weekend —  10 minutes, no less...Not a  soul would argue  against  such credibility…” 
              em — Consequence of Sound

        .quote
          .quoteText
            p “Like all great music, you can return to Reich’s greatest pieces time and time again, always making new discoveries and having new perceptions. The musicians of Ensemble Signal and I are very fortunate and thankful to have had — and to continue to have — many wonderful musical experiences with Steve Reich and his music. Most importantly, we are always thrilled to be able to share these experiences with our audiences.”
              span.quoteSource Brad Lubman, Co-Artistic Director, Ensemble Signal
        #reichPhotoArrangement
          img#reichImage2(
            src='https://images.contentful.com/iyieuwr67lde/3txRxJ2wdq2WEywAqMMaWE/02cc7903599cce5eb08d18471a6c3a67/reich_02_750.jpg'
            srcset='https://images.contentful.com/iyieuwr67lde/1goHxx1vyw0c6MEEW2qEQe/c687325b218d9139b099333a8cb16a16/reich_02_375.jpg 375w, https://images.contentful.com/iyieuwr67lde/3txRxJ2wdq2WEywAqMMaWE/02cc7903599cce5eb08d18471a6c3a67/reich_02_750.jpg 750w, https://images.contentful.com/iyieuwr67lde/206ezDKQJ6QcosiC2mCUa4/2dd4ee916fc252601abe3c8149d46b73/reich_02_1500.jpg 1500w'
          )
          img#reichImage3(
            src='https://images.contentful.com/iyieuwr67lde/6ALCVMAcvuE2IMQ64g6wky/07155e5740a5f3c40581660eb98e7e32/reich_03_375.jpg'
            srcset='https://images.contentful.com/iyieuwr67lde/6ALCVMAcvuE2IMQ64g6wky/07155e5740a5f3c40581660eb98e7e32/reich_03_375.jpg 375w, https://images.contentful.com/iyieuwr67lde/obTDlQwjcGeccEe2U2CuK/f29ff3cfb42f07030c5b6810339c6301/reich_03_750.jpg 750w'
          )
          img#reichImage4(
            src='https://images.contentful.com/iyieuwr67lde/4P2z4SG4IgMU402M4C2Kmg/82dedb5e94685e4ed713e38b3b107924/reich_04_375.jpg'
            srcset='https://images.contentful.com/iyieuwr67lde/4P2z4SG4IgMU402M4C2Kmg/82dedb5e94685e4ed713e38b3b107924/reich_04_375.jpg 375w, https://images.contentful.com/iyieuwr67lde/1ZsJnWKi0YEmuyMAkIOwwg/3d1f563634b15ddef3d5c3c314c18189/reich_04_750.jpg 750w'
          )
        figcaption Left: Stephanie Berger, Top Right: Ryan Jenkis, Bottom Right: Stephanie Berger
        h3 Signal’s Repertoire of Reich Works to Date
        .flex
          ul
            li <span class='projectWorkYear'>1968</span> Pendulum Music
            li <span class='projectWorkYear'>1970-71</span> Drumming, Part 1
            li <span class='projectWorkYear'>1972</span> Clapping Music *
            li <span class='projectWorkYear'>1974-76</span> Music for 18 Musicians *
            li <span class='projectWorkYear'>1980</span> Tehillim *
            li <span class='projectWorkYear'>1983</span> Eight Lines *
            li <span class='projectWorkYear'>1984</span> Sextet *
            li <span class='projectWorkYear'>1985</span> New York Counterpoint
            li <span class='projectWorkYear'>1994</span> Nagoya Marimbas
            li <span class='projectWorkYear'>1998</span> Triple Quartet (version for string quartet and CD or all-live w/ 12 players) *
            li <span class='projectWorkYear'>2002</span> Three Tales *
            li <span class='projectWorkYear'>2003</span> Cello Counterpoint
            li <span class='projectWorkYear'>2006</span> Daniel Variations *
            li <span class='projectWorkYear'>2006</span> You Are (Variations) *
            li <span class='projectWorkYear'>2007</span> Double Sextet *
            li <span class='projectWorkYear'>2010</span> WTC 9/11 (version for string quartet and CD or all-live w/ 12 players) *
            li <span class='projectWorkYear'>2013</span> Radio Rewrite *
            li <span class='projectWorkYear'>2013</span> Quartet *
            li <span class='projectWorkYear'>2016</span> Runner *
            li <span class='projectWorkYear'>2016</span> Pulse *
          .sidebar
            span * Denotes work Signal has prepared in rehearsal with Steve Reich
    .project.drawer.drawerClosed
      .projectHead
        h3 Educational Projects
        .drawerToggle
      .projectDetails.drawerContents
        div!= md(educationalProjects.text.replace(/(^|[^\n])\n(?!\n)/g, "$1<br />"))

  section#events
    h2.sectionName Events
    .eventsContainer
      each year in eventsYearRange
        div(id='eventSpan-' + year)
          case year
            when (currentYear + 1)
              +renderEvents(eventsInNextYear)
            when (currentYear)
              +renderEvents(eventsInCurrentYear)
            when (currentYear - 1)
              +renderEvents(eventsInPreviousYear)
    h3.placeholder#pastEvents Past events
      each year in eventsYearRangeReverse
        a.pastEvents(data-year='#{year}' href='#eventSpan-'+year) #{year}
        
  section#people
    h2.sectionName People
    #peopleSignalTeam
      .sidebar
        h3 Signal Team
      div
        .row
          .column
            p
              span.personWithBio Lauren Radnofsky
              em.break Co-Artistic/Executive Director
          .column
            p
              span.personWithBio Brad Lubman
              em.break Co-Artistic Director/Music Director
        .row
          .column
            p Peter Kalal
              em.break Development Associate
          .column
            p Erin Lensing
              em.break Administrative Associate
    #peopleArtistRoster
      .sidebar
        h3 Artist Roster
        span A supergroup of independent artists who have worked closely with one another and with music director Brad Lubman over the last decade, able to appear in flexible configurations of 1-30+ players, based on the needs of each season’s diverse programming.
      .row
        .column
          p
            em.break Violin
            span.break Lauren Cauley
            span.break Olivia De Prato
            span.break Will Knuth
            span.break Yuki Numata Resnick
            span.break Courtney Orlando
            span.break Chris Otto
            span.break Ari Streisfeld
          p
            em.break Viola
            span.break Caleb Burhans
            span.break Isabel Hagen
            span.break Victor Lowrie
            span.break John Pickford Richards
          p
            em.break Cello
            span.break Kevin McFarland
            span.break Lauren Radnofsky
            span.break Mariel Roberts
          p
            em.break Bass 
            span.break Greg Chudzik
          p
            em.break Flute
            span.break Kelli Kathman
            span.break Jessica Schmitz
          p
            em.break Oboe
            span.break Jacqueline Leclair
            span.break Christa Robinson
          p
            em.break Clarinet
            span.break Adrián Sandí
            span.break Ken Thomson
        
        .column
          p
            em.break Bassoon
            span.break Brad Balliett
          p
            em.break Trumpet
            span.break Mike Gurfield
          p
            em.break Trombone
            span.break Steven Parker
          p
            em.break Piano/Keyboard
            span.break David Friend
            span.break Oliver Hagen
            span.break Lisa Moore
            span.break Ning Yu
          p
            em.break Percussion
            span.break Matt Evans
            span.break Amy Garapic
            span.break Carson Moody
            span.break Doug Perkins
            span.break Bill Solomon
          p
            em.break Cimbalom/Percussion
            span.break Nick Tolle
          p
            em.break Harp
            span.break Nuiko Wadden
          p
            em.break Sound Director
            span.break Paul Coleman

    #peopleBoardOfDirectors
      .sidebar
        h3 Board of Directors
      .row
        .column
          p Kristian Bezuidenhout
            em.break President
          p John McDonald
            em.break Secretary
        .column
          p Barbara Radnofsky
            em.break Treasurer
          p Lena Saltos
    
  section#listen
    .sidebar
      .socialButtons
        a(href='https://open.spotify.com/artist/4avJYrq90FykiapVF7jazJ')
          img(src='images/icon-spotify.png')
        a(href='https://itunes.apple.com/us/artist/ensemble-signal/id583487378')
          img(src='images/icon-applemusic.png')
    h2.sectionName Listen
    .albums
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/3WJ2I4NNDOU02sS6eOU8mq/d09227374ea00c753d70edd7b066594e/album_1.png')
        .albumLinks
          a(href='https://open.spotify.com/album/3lNs2UnRog90lU3dusjkWK') Spotify
          a(href='https://itunes.apple.com/us/album/steve-reich-music-for-18-musicians/id984732844') iTunes
          a(href='https://www.amazon.com/Reich-Music-Musicians-Ensemble-Signal/dp/B00TGKEE7U') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/329SUV7fQIQuQi8wemq6Qc/a889fb73686f0a1e89b793f9b0e2d1d7/album_2.png')
        .albumLinks
          a(href='https://open.spotify.com/album/6PFIrIakDXgc5rdM1qomrG') Spotify
          a(href='https://itunes.apple.com/us/album/steve-reich-double-sextet/id1122414906') iTunes
          a(href='https://www.amazon.com/Steve-Reich-Double-Sextet-Rewrite/dp/B01H2DDIXI') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/po9bwBr5F6WkSa4SyAeYa/81ccb08a2fbca802ff646b695ac076ee/album_3.png')
        .albumLinks
          a(href='https://open.spotify.com/album/00PawEReF4TKtf2UzgIG2w') Spotify
          a(href='https://itunes.apple.com/us/album/zwei-gefuhle-and-solo-works/id583487372') iTunes
          a(href='https://www.amazon.com/Gef%C3%BChle-Ensemble-Signal-Lubman-Lachenmann/dp/B00AGRCQ18') CD
          a(href='https://www.amazon.com/Chamber-Works-Lachenmann/dp/B009PLMATY') DVD
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/32zvOsYLKwYCSUIgCuWGwO/64e17e9e985f95ca7c081e9c70950a2a/album_4.png')
        .albumLinks
          a(href='https://open.spotify.com/album/0LQdylgu5ntsJWgqGcZ2Um') Spotify
          a(href='https://itunes.apple.com/us/album/shelter/id624700007') iTunes
          a(href='https://www.amazon.com/Shelter-Deborah-Artman/dp/B00B5UBGRU') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/26zuG4GUQ4q8cWGgAyCAMa/fa5a13fc2a58c8d1237518b3a3a84fa1/album_5.png')
        .albumLinks
          a(href='https://www.amazon.com/Senales-IRVINE-ENSEMBLE-RECHERCHE-ARDITTI/dp/B01EMCBHJO') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/1uOQwNf9neQqkugGmWKucq/a52d407cb1ea01b0b101ae136edfc2fe/album_6.png')
        .albumLinks
          a(href='https://open.spotify.com/album/2r1MVm23ht87xNMGz6Rrsp') Spotify
          a(href='https://itunes.apple.com/us/album/active-field-ep/id1084972234') iTunes
          a(href='https://www.amazon.com/Active-Ensemble-Signal-Lubman-Tristan/dp/B01GL0WADW') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/4Ukf68pmPSUw6GMw44AYwm/a65f4087ce85f9a7816a0b4c44fd7d01/album_7.png')
        .albumLinks
          a(href='https://itunes.apple.com/us/album/philip-glass-glassworks-live/id413340624') iTunes
          a(href='https://www.amazon.com/Live-at-Poisson-Rouge-Signal/dp/B004I3RR7O') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/1GF3oMJ7dqGgCIiiUgQ0gy/becc0439b2eefcc8aa6127e51b387f36/album_8.png')
        .albumLinks
          a(href='https://open.spotify.com/album/49xHTKjIfDahbCEPNVBZ3M') Spotify
          a(href='https://itunes.apple.com/us/album/snider-penelope/id394498713') iTunes
          a(href='https://www.amazon.com/Penelope-Sarah-Kirkland-Snider/dp/B0040Y7F50') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/3RciZsZG0UEqQkcI2wC4Gk/dac2b29a79a91c6eea4c795099f147ac/album_9.png')
        .albumLinks
          a(href='https://open.spotify.com/album/3bz7oEWFx9VY8dZX75v3pB') Spotify
          a(href='https://itunes.apple.com/us/album/respect-in-yule/id584795098') iTunes
          a(href='https://www.amazon.com/Respect-Yule-Sextet/dp/B009M6EFU4') Amazon
    .videos
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/kh3_erAHToE?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/I5gU-XLkXtE?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/6Zbobkioa8E?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://player.vimeo.com/video/63062677?color=ffffff&byline=0&portrait=0')
    
  section#support
    h2.sectionName Support & Donate
    .flex
      div!= md(support.text.replace(/(^|[^\n])\n(?!\n)/g, "$1<br />"))
      .sidebar
        form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
          input(type="hidden" name="cmd" value="_s-xclick")
          input(type="hidden" name="hosted_button_id" value="L4U6SJE5UAXJ2")
          input(type="submit" name="Donate" value="Donate").donateButton
          img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
          span If you would like to learn more about giving opportunities,  please contact 
            a(href='mailto:signaloffice@gmail.com') Lauren Radnofsky.
    
  section#double
    .half
      h2.sectionName Contact
      p For all inquiries, please contact: <br/>
        a(href='mailto:signaloffice@gmail.com') Lauren Radnofsky, Co-Artistic/Executive Director
      .socialButtons
        a(href='https://www.facebook.com/signal.ensemble')
          img(src='images/icon-facebook.png')
        a(href='https://twitter.com/ensemblesignal')
          img(src='images/icon-twitter.png')
        a(href='https://www.instagram.com/ensemblesignal')
          img(src='images/icon-instagram.png')
    .half
      h2.sectionName Hear from Us
      p You can get news and event announcements by signing up for our email newsletter:
      #mc_embed_signup
        form(action="http://signalensemble.us2.list-manage.com/subscribe/post?u=605dc4a28d902f04c2691f349&amp;id=024f929d9d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank").validate
          .mc-field-group
            input(type="email" placeholder="Enter your email" value="" name="EMAIL").required.email#mce-email
          #mce-responses(class="clear")
            .response(style="display:none")#mce-error-response
            .response(style="display:none")#mce-success-response
          .clear
            input(type="submit" value="Go" name="subscribe").button#mc-embedded-subscribe
    
  section#gallery
    .galleryWindow
      .galleryContainer
        img(src='https://images.contentful.com/iyieuwr67lde/49MVQKj6Ra0sq8OWOqmCqO/83d774d1c0f9cb227fae340ec7f501d6/gallery_01.jpg')
        img(src='https://images.contentful.com/iyieuwr67lde/WPqt2lBBAc6s4YSSguGsE/1be2af84eda0d15d87bc88413c65c385/gallery_02.jpg')
        img(src='https://images.contentful.com/iyieuwr67lde/2wlodIL5GMMQyKW0cESUCI/4f4295057f0a6affba2262cab1f58aa2/gallery_03.jpg')
        img(src='https://images.contentful.com/iyieuwr67lde/43ekztl5KMyC6AqWUC2uk2/fabcfcd1048d5c90098aec52cac959f0/gallery_11.jpg')
        img(src='https://images.contentful.com/iyieuwr67lde/4qWqvwn8n6Uca6yCQYWaOa/38ddf2880b8dd202c1e5435f08956d39/gallery_04.jpg')
        img(src='https://images.contentful.com/iyieuwr67lde/2OXGIWB8KQC4m2muyq2C4Y/ebbeffd13709fcd29dc2479304538fba/gallery_05.jpg')
        img(src='https://images.contentful.com/iyieuwr67lde/2hYUOtID0cI6yqSmUECY6i/f1e310fd981e3e76cdc34d48934be122/gallery_06.jpg')
        img(src='https://images.contentful.com/iyieuwr67lde/43h6PafNosSi2e4ikOkOMC/2918df62dd1adad607fb017a02f81ee3/gallery_07.jpg')
        img(src='https://images.contentful.com/iyieuwr67lde/5ynPbD8NbOGYaG6QsWmsMy/7f52dc89543423deaa5219a58756d2a7/gallery_08.jpg')
    figcaption Photos by Ryan Jenkis

  aside#overlay.hide
    div#overlayBackground
    div#overlayContent
      span#overlayCloseButton
      div.bios
        h3 Lauren Radnofsky
        != md("Lauren Radnofsky is founding Co-Artistic/Executive Director and cellist of Ensemble Signal. Within her triple role, Radnofsky is responsible for program curation, general management, development, and also serves as the main producer, in addition to being a regular performer in the ensemble. Under her leadership - within the span of just seven years - Radnofsky has overseen Signal distinguish itself as an ensemble of exceptional versatility, its ambitious range of activities including over 150 concerts, nine recordings, and the NY, world, or US premieres of over 20 works to date.")
        != md("Radnofsky has managed all aspects of Ensemble Signal’s participation in projects at venues including Lincoln Center Festival, Walt Disney Concert Hall, BIG EARS Festival, Ojai Music Festival, Tanglewood Festival of Contemporary Music, Miller Theatre, Carnegie Hall, Works & Process at the Guggenheim (NY), the Wordless Music Series, Cleveland Museum of Art, (le) Poisson Rouge, and the Bang on a Can Marathon, and has served as a coordinator in the production of all Signal’s recordings; in addition to performing as cellist in all of the former.")
        != md("As Co-Artistic Director of Signal, Radnofsky regularly collaborates with cooperating presenting organizations, composers, and artists to design a unique array of adventurous projects, thereby bringing programs of new or rarely performed music to the public. These projects range from a 2010 tour with iconoclastic German composer Helmut Lachenmann to programs including diverse pairings designed to illuminate modern or seemingly disparate works, and educational workshops with emerging composers and musicians.")
        != md("As a cellist with Signal, Lauren has worked with composers and artists including Helmut Lachenmann, Steve Reich, Irvine Arditti, Oliver Knussen, Michael Gordon, David Lang, and Julia Wolfe. Outside of Signal, she has appeared as soloist with the Saint Paul Chamber Orchestra performing Kaija Saariaho's *Amers* for cello and ensemble, and the Wordless Music Orchestra in Jonny Greenwood’s *Doghouse* for string trio and orchestra. Additionally, Radnofsky served on the faculty of the 2014 and 2015 Bang on a Can Summer Institute.")
      div.bios
        h3 Brad Lubman
        != md("Brad Lubman, conductor/composer, is one of the foremost conductors of modern music and a leading figure in the field for over two decades. A frequent guest conductor of the world’s most distinguished orchestras and new music ensembles, he has gained widespread recognition for his versatility, commanding technique, and insightful interpretations. His flexibility in a variety of settings has led him to conduct a broad range of repertoire from classical to contemporary works, and to direct projects including orchestra, opera, multimedia, and mixed ensemble.")
        != md("Lubman has led major orchestras including the Symphonieorchester des Bayerischen Rundfunks, Royal Concertgebouw Orchestra, Los Angeles Philharmonic, NDR Sinfonieorchester Hamburg, Dresden Philharmonic, DSO Berlin, RSO Stuttgart, WDR Symphony Cologne, Orchestre Philharmonique de Radio France, Finnish Radio Symphony, the Netherlands Radio Chamber Philharmonic, and the National Symphony.")
        != md("In addition, he has worked with some of the most important European and American ensembles for contemporary music, including Ensemble Modern, London Sinfonietta, Klangforum Wien, Musik Fabrik, ASKO Ensemble, Ensemble Resonanz, and Steve Reich and Musicians. Lubman has conducted at new-music festivals across Europe, including those in Lucerne, Salzburg, Berlin, Huddersfield, Paris, Cologne, Frankfurt, and Oslo.")
        != md("Lubman is founding Co-Artistic and Music Director of the NY-based Ensemble Signal. Since its debut in 2008, the Ensemble has performed over 150 concerts and co-produced nine recordings. Their recording of Reich’s *Music for 18 Musicians* on harmonia mundi was awarded a Diapason d’or in June 2015 and appeared on the Billboard Classical crossover charts.")
        != md("Lubman has conducted numerous world premieres. Among these are Steve Reich’s *Three Tales, Daniel Variations, Radio Rewrite,* and *Variations for Vibes, Pianos and Strings.* Additional world premieres given by Lubman include Helmut Lachenmann’s *Concertini* and Michael Gordon/David Lang/Julia Wolfe’s *Shelter*, as well as works by Philip Glass, Charles Wuorinen, John Zorn, and Hilda Paredes.")
        != md("His own music has been performed in the USA and Europe, and can be heard on his CD, Insomniac, on Tzadik. Brad Lubman is on faculty at the Eastman School of Music and the Bang on a Can Summer Institute.")
  
  footer
    .container
      span 2018 Ensemble Signal
